---
layout: page
description: "Let's learn how to code and build projects using free onlilne resources."
htmlTitle: "Let's learn to code together."
---


{% for post in paginator.posts %}
<div class="post-preview col-sm-6 col-md-4">
  <div class="thumbnail">
    <a href="{{ post.url | prepend: site.baseurl }}" title="{{post.title}}">
      <img src="{{ post.header-img | prepend: site.baseurl }}" alt="{{ post.title }}" />
    </a>
    <div class="caption">
      <h3 style="margin:0px;"><a href="{{ post.url | prepend: site.baseurl }}" title="{{post.title}}">{{ post.title }}</a></h3>
      <br/>
      <span style="font-size: 18px;">{{ post.subtitle }}</span><br/><br/>
      <span style="">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</span>
    </div>
  </div>
</div>
{% endfor %}


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
