<footer>
  <div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="share-page">
          <span style="font-size: 16px;"><b>Share this on &rarr; &nbsp;</b></span>
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
          rel="nofollow" target="_blank" title="Share on Twitter">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle twitter fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        rel="nofollow" target="_blank" title="Share on Facebook">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle facebook fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
      rel="nofollow" target="_blank" title="Share on Google+">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle google-plus fa-stack-2x"></i>
        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    rel="nofollow" target="_blank" title="Share on Linkedin">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle linkedin fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</div>
      </div>
    </div>
  </div>
